<div class="jumbotron">
  <h1 class="display-4">EJBDFエントリーシステム</h1>
  <p class="lead">EJBDFエントリーシステムへようこそ</p>
  <% unless logged_in? %>
    <hr class="my-4">
    <p>試合のエントリーのためにはユーザー登録が必要です</p>
    <p>すでにアカウントをお持ちの方はこちら</p>
    <%= link_to "ログイン",login_path, class: "btn btn-primary btn-lg" %>
    <p>アカウントをお持ちでない方はこちら</p>
    <%= link_to "新規登録", new_user_path, class: "btn btn-primary btn-lg" %>
  <% end %>
</div>